html{
 background: url(https://images.unsplash.com/photo-1582735689369-4fe89db7114c?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8bGF1bmRyeXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.topnav {
  overflow: hidden;
  background-color: #3dc1d3;
  color:white;
  opacity: 0.8;
}
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
}

.topnav a.active {
  background-color: #3dc1d3;
  color: white;
}
.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 10px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  	
}

.topnav .search-container button:hover {
  background: #ccc;
}
#input{
	
  position: absolute;
  top:22px;
  left: 1200px;
  width: 200px;
  height: 20px;
 
}
#submit{
	background-color: #ffbe76;
	color: white
}
#logo1{
	  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 25%;
}

#btn1{
	background-color: #ffbe76;
	transform: translateY(-1090px);
 display: block;
position: center;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  height: 40px;
  opacity: 1.2;
   border-radius: 7px;
   margin-bottom: auto;
   margin-top: auto;
   border:none;

}
#btn2{
	background-color: #ffbe76;
	transform: translateY(-1030px);
	
	 padding: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  height: 40px;
  opacity: 1.2;
   border-radius: 7px;
     margin-bottom: auto;
   margin-top: auto;
   border:none;
}
#btn3{
	background-color: #ffbe76;
	transform: translateY(-1140px);
	 padding: auto;
  display: block;
  position :relative;
  margin-left: 687px;
  margin-right: auto;
  width: 9%;
  height: 25%;
  opacity: 1.2;
   border-radius: 2px;
     margin-bottom: auto;
   margin-top: auto;
}

#btn4{
	background-color: #ffbe76;
	transform: translateY(-1030px);
	 padding: auto;
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  height: 25%;
  opacity: 1.2;
   border-radius: 2px;
     margin-bottom: auto;
   margin-top: auto;
}

#box{
		background-color: gray;
	border-style: outset;
	margin: 30%;
	 transform: translateY(-95%);
	padding-top: 5%;
	padding-bottom: 20%;
	background-color: rgba(200, 214, 229,0.7)
}
#student{
	  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 25%;
}

#fullName{
	transform: translateX(220%);
	 top: -10px;
	 width:100px;
}
#E-mail{
	transform: translateX(220%);
	 top: -34px;
	 width:100px;
}
#number{
	transform: translateX(220%);
	 top: -10px;
	 width:100px;
}
#adress{
	transform: translateX(220%);
	 top: -10px;
	 width:100px;

}
#password {
	transform: translateX(220%);
	 top: -10px;
	 width:100px;

} 
.check{
	font-size : 8px; 
	font-family :sans-serif ; 
	color: white;  
	/*transform: translateX(1500%); */
  position:relative;
  top :-160px;
	font-size: 30px; 
	color: #3B5998;
	font-weight:bold; 
	text-align: center;
}


#footer{
   transform: translateY(50%);
    font-size: 17px ;
   color: #FFC0CB;
    height: 150px;
    font-family: 'sans cherif';
    text-align: center;
    width: 100%;	
    background-color: #2C3A47;
	color : white;
	bottom :0;
	top:-100px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.fa:hover{
	opacity : 0.8;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #FF6B81;
  color: white;
}
.fa-linkedin {
  background: #0072B1;
  color: white;
}

#flag{
        max-width: 10%;
        max-height: 10%;
        display: block; 
  margin-left: auto;
  margin-right: auto;
  transform: translateY(20%);
    
}